path.leaflet-interactive.animate {
    stroke-dasharray: 1920;
    stroke-dashoffset: 1920;
    animation: dash 10s linear 2s forwards;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}